<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="AppUrl" value="https://www.omada.net/"/>
    <add key="FileDownloadLocation" value="c:\tmp\"/>
    <add key="ScreenshotLocation" value="c:\tmp\"/>
    <add key="LogsLocation" value="c:\tmp\"/>
    <add key ="PageLoadTimeout" value="10"/>
    <add key ="Timeout" value="10"/>
  </appSettings>
</configuration>
